# Default values for libravatar-ldap-jpegphoto.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

ldapSecret:
  # create secret (with data below) or use existing one
  create: true
  # default name: RELEASE-ldap-config
  name: ""
  # data for secret creation
  stringData:
    server: ""
    bindDn: ""
    bindPw: ""
    searchBase: ""
    port: "389"
    tls: "True"
    ssl: "False"

# PEM formatted CA cert for LDAP client (multiline string)
ldapCaCert:

imageName: ghcr.io/jasperroloff/libravatar-ldap-jpegphoto:latest
imagePullPolicy: Always

# The pull secret has to exist within the namespace!
imagePullSecretName:

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  ingressClassName:
  hosts: []
  tls:
    - secretName:
      hosts: []
