apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-deployment
  labels:
    app: {{ .Release.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      {{- with .Values.imagePullSecretName }}
      imagePullSecrets:
        - name: {{ . | quote }}
      {{- end }}
      containers:
        - name: {{ .Release.Name }}-app
          image: {{ .Values.imageName }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          env:
            - name: LDAP_SERVER
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.ldapSecret.name | default (printf "%s-ldap-config" .Release.Name) }}
                  key: "server"
            - name: LDAP_BINDDN
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.ldapSecret.name | default (printf "%s-ldap-config" .Release.Name) }}
                  key: "bindDn"
            - name: LDAP_BINDPW
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.ldapSecret.name | default (printf "%s-ldap-config" .Release.Name) }}
                  key: "bindPw"
            - name: LDAP_PORT
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.ldapSecret.name | default (printf "%s-ldap-config" .Release.Name) }}
                  key: "port"
            - name: LDAP_TLS
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.ldapSecret.name | default (printf "%s-ldap-config" .Release.Name) }}
                  key: "tls"
            - name: LDAP_SSL
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.ldapSecret.name | default (printf "%s-ldap-config" .Release.Name) }}
                  key: "ssl"
            - name: LDAP_SEARCH_BASE
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.ldapSecret.name | default (printf "%s-ldap-config" .Release.Name) }}
                  key: "searchBase"
            - name: PORT
              value: "80"
            {{- if .Values.ldapCaCert }}
            - name: LDAP_CA_CERTS_FILE
              value: "/ca.crt"
            {{- end }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          #livenessProbe:
          #  httpGet:
          #    path: /
          #    port: http
          #readinessProbe:
          #  httpGet:
          #    path: /
          #    port: http
          {{- if .Values.ldapCaCert }}
          volumeMounts:
            - mountPath: /ca.crt
              name: ldap-ca-crt
              subPath: ca.crt
              readonly: true
          {{- end }}
      {{- if .Values.ldapCaCert }}
      volumes:
        - name: ldap-ca-crt
          configMap:
            name: {{ .Release.Name }}-ldap-ca-crt
      {{- end }}
